body{
    background-color: forestgreen;
    color: white;
    text-align: center;
}

.animals-list{
    display: flex;
    justify-content: center;
}

ul {
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.home-image{
    width: 250px;
    border: 1px solid black;


}

.footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
}
