body{
    background-color: forestgreen;
    color: white;
    /* text-align: center; */
}

h1 , h2 {
    text-align: center;
}

ul {
    color: black;
    font-weight: bold;
    font-size: x-large;
}
