body{
    background-color: forestgreen;
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 50px; /* Prevents content from overlapping with the footer */
    position: relative;
    min-height: 91.5vh;
}

.animals-list{
    display: flex;
    justify-content: center;
}

ul {
    color: black;
    font-weight: bold;
    font-size: large;
}

.home-image{
    width: 250px;
    border: 1px solid black;
    margin-bottom: 10px;


}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
